<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>sample-app</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>KBExifGalleryLicense</key>
	<string>eyJidW5kbGVJZCI6ImNvbS5rZXNieXRlLmV4aWZnYWxsZXJ5LnNhbXBsZSIsInBsdWdpbklkIjoiZXhpZi1nYWxsZXJ5IiwidGllciI6ImVudGVycHJpc2UiLCJwbGF0Zm9ybXMiOlsiaW9zIiwiYW5kcm9pZCJdLCJleHBpcmVzQXQiOm51bGwsImZlYXR1cmVzIjpbImFsbCJdLCJ2ZXJzaW9uIjoiMS4wIiwic2lnbmF0dXJlIjoiNDZlNDMwNzA5Y2VkMTk3NmQ1M2NjNDY2MTJmMDU5YzdjOGRiOTg2YjhmYzE2MjU3MGRiNTdkMTI0MjAyNDAyMjRjOWQ5MzJmNDJhNTA2MTRhOTJhNWFlZGFhZGQ0OGE5NDgwNWYwOTVhZmE0MjdmNGQ4YTA3MWFmNGRlYjU2YjMifQ==</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to help you find photos taken near your current position.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to filter images by location and time based on EXIF data.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
